{% load static %}
{% load helper %}
{% load staticfiles %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block titre %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/timeline_recette.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

        <link type="text/css" rel="stylesheet" href="{% static 'css/lightgallery.css' %}" />
        <script src="{% static 'js/lightgallery.min.js' %}"></script>
        <script src="{% static 'js/fonction.js' %}"></script>

        <!-- lightgallery plugins -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/lg-thumbnail.min.js' %}"></script>
        <script src="{% static 'js/lg-fullscreen.min.js' %}"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Ty brasseur</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'blog:index' %}">Accueil</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">Brassage<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'blog:allrecettes' %}">Mes recettes</a></li>
                                <li><a href="">Le matériel</a></li>
                                <li><a href="">Le brassage</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">Outils<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'blog:calc_with_refracto' %}">Calcul taux d'alcool avec réfracomètre</a></li>
                                <li><a href="{% url 'blog:calc_with_densimetre' %}">Calcul taux d'alcool avec densimètre</a></li>
                                <li class=""></li>
                                <li><a href="">Liens</a></li>
                            </ul>
                        </li>
                        <li><a href="">Contact</a></li>
                    </ul>
                    <form class="navbar-form navbar-right inline-form" action="resultats_recherche.php" method="post">
                        <div class="form-group">
                            <input type="text" class="input-sm form-control" placeholder="Recherche" name="recherche" id="recherche">
                            <input type="hidden" id="AND" name="mode" value="AND"/>
                            <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            {% if user.is_authenticated %}
                                <a data-toggle="dropdown" href="#">Bienvenue <?php echo $pseudo?> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                        <li><a href="{% url 'blog:ajout' %}">Formulaire</a></li>
                                        <li><a href="">Calendrier</a></li>
                                    <li><a href="">Gérer mon compte</a></li>
                                    <li><a href="{% url 'logout' %}">Déconnecter</a></li>
                                </ul>
                            {% else %}
                                <a data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-lock"><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="register.php">Inscription</a></li>
                                    <li><a href="{% url 'login' %}">Connexion</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        {% block contenu %}{% endblock %}
