{% extends 'blog/base.html' %}
{% block titre %}Recette -{{ recette.titre }} {% endblock %}
{% block contenu %}

<div class="container font_white">
    <h1 align="center">Calcul du taux d'alcool avec réfractomètre</h1>
    <div class="row">
        <div class="col-lg-6" align="center"><img src="/static/images/vertex-refractometre-rf-1.jpg" alt="réfractomètre"></div>
        <div class="col-lg-6" align="center"><img src="/static/images/refractometre3.jpg" alt="Vue dans réfractomètre"></div>
    </div>
    <form class="form-horizontal col-lg-5" action="refractometre.php" name="densite_brix">
        <div class="form-group">
            <legend>Conversion de la densité avant fermentation</legend>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-6 control-label">Saisir la densité en degrés Brix : </label>
                <div class="col-lg-3">
                    <input type="text" name="densB" class="form-control" value="12">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-6 control-label">La densité spécifique est de : </label>
                <div class="col-lg-3">
                    <input type="textarea" name="densS" class="form-control" id="textarea" readonly>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="button" class="center-block btn btn-primary" name="btosp" value="Calculer" onclick="brixToSg(densB.value)" />
        </div>
    </form>
    <form class="form-horizontal col-lg-5 col-lg-offset-1" action="refractometre.php" name="densite_brix_ferm">
        <div class="form-group">
            <legend>Conversion de la densité après fermentation</legend>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-6 control-label">Saisir la DI en degrés Brix avant la fermentation : </label>
                <div class="col-lg-3">
                    <input type="text" name="densBO" value="12" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-6 control-label">Saisir la densité en degrés Brix après fermentation : </label>
                <div class="col-lg-3">
                    <input type="text" name="densBC" value="6" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-6 control-label">La densité spécifique est de : </label>
                <div class="col-lg-3">
                    <input type="textarea" name="densS" class="form-control" id="textarea" readonly>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="button" class="center-block btn btn-primary" name="btosp" value="Calculer" onclick="brixToSgFerm(densBO.value,densBC.value)" />
        </div>
    </form>

    <form class="form-horizontal col-lg-6 col-lg-offset-2" action="refractometre.php" name="calculalc" id="calculalc">
        <div class="form-group">
            <legend align="center">Taux d'alcool de la bière</legend>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Saisir la densité initiale : </label>
                <div class="col-lg-2">
                    <input type="text" name="og" class="form-control" value="1068">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Saisir la densité finale : </label>
                <div class="col-lg-2">
                    <input type="text" name="fg" class="form-control" value="1015">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Sucre ajouté à l'embouteillage : (en g/l) </label>
                <div class="col-lg-2">
                    <input type="text" name="sucre" class="form-control" value="7">
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="button" class="center-block btn btn-primary" name="calculer" value="Calculer" onclick="calcalc(og.value, fg.value, sucre.value)" />
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Le taux avant fermentation en bouteille est de : </label>
                <div class="col-lg-2">
                    <input type="textarea" name="dens" class="form-control" id="textarea" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Le taux après fermentation en bouteille est de : </label>
                <div class="col-lg-2">
                    <input type="textarea" name="ref_tot" class="form-control" id="textarea" readonly>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}